<%- include ('../partials/header') %> 
<div class="container my-5">
    <header>
        <h1><%= blog.title %></h1>
        <br>
        <small>
            <%= (blog.updatedAt.toLocaleDateString("en-US"))%>
        </small>
        <p><strong>By: <%= blog.user.fullname %></strong></p>
    </header>
    <hr>
    <div class="content">
        <%- blog.content %>
    </div>
</div>
<%- include ('../partials/footer') %>   